.config-container {
    height: 100%;
    flex-grow: 1;
    padding: 40px 120px;
    display: flex;
    flex-direction: column;
}

.config-header {
    font-size: 2rem;
    color: var(--main-blue);
    margin: 0;
    padding: 0;
}

.config-options {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mqtt-config {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: flex-start;
}

.mqtt-config > label {
    margin-bottom: 5px;
    color: var(--main-black-faded);
}

.mqtt-config-btns {
    width: 100%;
    display: flex;
    gap: 10px;
}

.mqtt-config-btns > input {
    border-radius: 5px;
}

.test-btn {
    height: 35px;
    width: 50%;
    background-color: transparent;
    border: 1px solid var(--main-blue);
    color: var(--main-blue);
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

.test-btn:hover {
    background-color: var(--main-blue);
    color: #fff;
}

.loading {
    background-color: var(--main-blue);
    color: #fff;
    animation: loading 1s infinite;
}

.save-btn {
    height: 35px;
    width: 50%;
    background-color: var(--btn-blue);
    border: 1px solid var(--btn-blue);
    color: #fff;
    cursor: pointer;
}

.general-header {
    margin: 20px 0px 10px 0px;
    font-size: 1.5rem;
}

.general-input {
    font-size: 0.8rem;
    height: 35px;
    width: 100%;
    font-weight: lighter;;
    padding: 13px;
    border-radius: 5px;
    border: 1px solid var(--main-border-color);
    margin-bottom: 20px;
}

@keyframes loading {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 5px;
    }

    100% {
        bottom: 0px;
    }
}