.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 120px;
    flex-shrink: 0;
    border-right: 1px solid var(--main-border-color);
}

.navbar-items {
    display: flex;
    list-style: none;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.main-title {
    font-size: 1rem;
    letter-spacing: 5px;
    text-align: right;
    padding: 40px 20px 20px 20px;
    background: var(--main-blue-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-subitems-1 {
    font-size: 0.8rem;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    color: var(--main-blue);
    width: 100%;
    height: 400px;
    flex-shrink: 0;
    padding-top: 20px;
}

.navbar-subitems-1 > li {
    border: 1px solid var(--main-border-color);
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.navbar-subitems-1 > li:hover {
    background-color: var(--main-blue);
    border: 0px;
    color: #fff;
}

.selected {
    background-color: var(--main-blue);
    border: 0px;
    color: #fff;
}

.navbar-subitems-2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 50px;
}

.gear {
    width: 25px;
    cursor: pointer;
    fill: var(--main-gray);
}



