.sensor-props {
    transition: all 2s ease;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 400px;
    height: 300px;
    border: 1px solid var(--main-border-color);
    border-radius: 10px;
    flex-direction: column;
    background-color: #fff;
    bottom: 105px;
    right: 105px;
    padding: 20px 20px;
    box-shadow: 10px 10px 9px -1px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 10px 10px 9px -1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 10px 10px 9px -1px rgba(0, 0, 0, 0.07);
}

.sensor-props > h1 {
    color: var(--main-blue);
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-border-color);
    flex-shrink: 0;
}

.sensor-props-form {
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    overflow-y: scroll;
}

.sensor-props-form::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.sensor-props-form::-webkit-scrollbar-thumb {
    background-color: var(--main-border-color);
}

.sensor-props-form > label {
    color: var(--main-black-more-faded);
    margin-bottom: 10px;
}

.sensor-props-form > input {
    margin-bottom: 10px;
}

.sensor-props-form > input[type='text'] {
    border: 1px solid var(--main-border-color);
    padding: 3px 10px;
    width: 90%;
}

.chart-select {
    width: 90%;
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid var(--main-border-color);
    margin-bottom: 10px;
}

.color-input {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 60%;
    height: 40px;
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    padding: 3px;
}

.color-input > input[type='color'] {
    width: 60%;
    height: 100%;
    background-color: transparent;
    border: none;

}

.color-input > p {
    color: var(--main-black-more-faded);
    font-weight: normal;
    width: 40%;
    text-align: center;
}

.save-sensor-btn {
    position: absolute;
    display: flex;
    padding: 5px 10px;
    top: 15px;
    right: 20px;
    border: 1px solid var(--main-blue);
    background-color: transparent;
    color: var(--main-blue);
    border-radius: 5px;
    transition: all 0.3s ease;
}

.save-sensor-btn:hover {
    background-color: var(--main-blue);
    color: #fff;
    cursor: pointer;
}

.show-sensor-props {
    transition: opacity 0.5s ease, transform 0.3s ease;
    transform-origin: 100% 100%;
    transform: scale(1);
    opacity: 1;
}

.hide-sensor-props {
    transition: opacity 0.5s ease, transform 0.3s ease;
    transform-origin: 100% 100%;
    transform: scale(0);
    opacity: 0;
}