.telemetry-container {
    height: 100%;
    overflow-y: scroll;
    padding: 0px 40px 40px 40px;
    flex-grow: 1;
}

.telemetry-navbar {
    display: flex;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgb(255, 255, 255) 50%, rgba(255,255,255,1) 100%);
    padding: 40px 0px 60px 0px;
    width: 100%; 
    height: 50px;
    align-items: center;
    justify-content: space-between;
    position: sticky; 
    top: 0;
    z-index: 1; 
}

.telemetry-title {
    font-size: 2rem;
    color: var(--main-black);
    margin: 0;
    padding: 0;
}

.telemetry-searchbar {
    font-size: 0.8rem;
    height: 12px;
    width: 250px;
    font-weight: lighter;;
    padding: 13px;
    border-radius: 5px;
    border: 1px solid var(--main-border-color);
}

.telemetry-cards-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.add-sensor-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 40px;
    cursor: pointer;
    right: 40px;
    width: 65px;
    height: 65px;
    font-size: 1rem;
    color: #fff;
    border-radius: 100%;
    background-color: var(--main-blue);
    transition: all 0.2s ease;
    border: none;
}

.add-sensor-btn:active {
    transition: all 0.2s ease;
    width: 60px;
    height: 60px;
}